<!DOCTYPE html>
<html>
<head>
    <title>Twig : the League</title>
</head>
<body>
    <header class = "header">
        <h1>{{pageTitle}}</h1>
        
        <nav class = "nav">
            {% for link in links %}
            <li class = "link">
                <a href = "#">{{link}}</a>
            </li>
        {% endfor %}
        
        </nav>
    </header>
    
    <main>
        <h2>{{ title }}</h2>
        <div class = "cards">
        {% for image in images %}
            <div class = "card">
                <img src="images/{{ image }}.png" alt={{ image }}>
                <h3>{{image}}</h3>
                <p>A team of {{image}}</p>
                <button>{{image}}</button>
            </div>
        {% endfor %}
        </div>
    </main>
</body>
</html>